.container {
    height: 30em;
    width: 50vw;
    margin: 0 4em;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/remolino.webp");
    background-size: cover;
}

.carouselContainer {
    height: 100%;
    width: 100%;
} 

.carouselCaption {
    background-color: rgba(0, 0, 0, 0.330);
}

.carouselPhoto {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carouselVer {
    padding: .4em 6em;
    border: none;
    background-color: rgba(255, 255, 255, 0.171);
    color: #fff;
}

.carouselVer:hover {
    background-color: rgba(255, 255, 255, 0.271);
}

.carouselTitle {
    color: #fff;
    font-size: 1.2em;
    margin-top:.3em
}

.carouselPrice {
    color: #fff;
    font-size: .9em;
}