.itemCard {
  flex-basis: 14em;
  background-color: #fff;
  margin: .4em .8em;
}

.itemCard:hover {
  transform: scale(1.05);
  transition: .5s;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.itemContainer img {
  width: 90%;
  margin: 1em 1em .4em;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#000
}

.cardTitle {
  font-size: 1em;
  margin-bottom: .2em;
  font-weight: normal;
}

.cardPrice {
  font-size: 1.1em;
}